/* @override http://localhost:3000/stylesheets/style.css */

#loggedin {
  font-weight:  bold;
}

#loggedin span.caret{
  margin-left: 6px;
}

#loggedin img.user-avatar {
  vertical-align:text-top;
  width: 17px;
  margin-right: 6px;
  background: #fff;
  border-radius: 2px
}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}